/* Global font type and size*/
.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', 'Ubuntu', sans-serif;
!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
.content-header h4,
.main-header .logo, .logo-mini, .logo-lg {
    font-family: 'Roboto', 'Comfortaa', 'Ubuntu', sans-serif, cursive;
!important;
}

body, html,
.sidebar-menu .treeview-menu > li > a {
    font-size: 14px
}

.h5, h5{

}

    /* Make login box black background and blue text*/
.login-box-body, .register-box-body {
    background: none;
    padding: 20px;
    border-top: 0;
    color: #3c8dbc;
}

/* Remove background of login/registration pages*/
.login-page, .register-page {
    background: none;
}

.skin-blue .main-header .logo, .skin-blue .main-header .navbar {
    background-color: #333;
}

/* Make the user panel white*/
.skin-blue .main-header li.user-header {
    background-color: white;
}

/*Center Images*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

/*File uploader drop zon*/
.ajax-upload-dragdrop {
    padding: 5px;
    border: 2px dotted lavender;
}

/*Make user detail panel in top-right white*/
.skin-black-light .main-header li.user-header {
    background-color: transparent;
}
