/***********************************************************************
* Global font settings
************************************************************************/
.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
.content-header h4,
.main-header .logo, .logo-mini, .logo-lg {
    font-family: 'Comfortaa', 'Ubuntu', sans-serif, cursive;
!important;
}

body, html,
.sidebar-menu .treeview-menu > li > a {
    font-size: 12px
}

.form-control,
.btn,
table, tr, th, td, thead, tbody {
    font-size: inherit
}

/* Make all borders square (0 radius)*/
* {
    border-radius: 0 !important;
}

/* Fix CTA position for all module base form */
.cta-block {
    position: fixed;
    background-color: #FFFFFF;
    bottom: 0;
    padding: 10px 0 10px 0;
    z-index: 100;
    border-top: dotted gainsboro 1px;
}

.delete-cta {
    margin-right: 260px;
}

/* padding of form element*/
.form-group {
    padding-left: 0;
}

/* reduced margin for module titles to align with breadcrumb*/
.content-header h4 {
    margin-top: 0;
}

/* datatable */
table.dataTable {
    border-collapse: collapse;
    width: 100%;
}

/* make textarea same size of ckeditor */
textarea {
    height: 271px;
}

/* made label font weight notmal*/
label {
    font-weight: normal;
}

/* style for permissions tree in group details form*/
.permissions-tree ul, .permissions-tree ul li {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding: 0px;
}

.permissions-tree label {
    margin-left: 5px;
    top: -3px;
    position: relative;
}

/* add padding at the bottom of the app-frame so that CTA does not overlap with page econtent*/
.content {
    padding-bottom: 50px;
    min-height: 600px;
    background-color: #FFFFFF;
!important;
}

.content-wrapper, .right-side, .wrapper {
    background-color: #FFFFFF; /*make background white*/
}

/* class for removing padding from all direction */
.no-padding-r {
    padding-right: 0;
}

.no-padding-l {
    padding-left: 0;
}

.no-padding-t {
    padding-top: 0;
}

.no-padding-b {
    padding-bottom: 0;
}

.no-margin-r {
    margin-right: 0;
}

.no-margin-l {
    margin-left: 0;
}

.no-margin-t {
    margin-top: 0;
}

.no-margin-b {
    margin-bottom: 0;
}

/* Make button smaller beside the tile. usually these are create (plus button) or list button*/
h4 .btn-xs {
    font-size: 12px;
}

.tooltip-inner {
    text-align: left;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Upload list */
div.filecard .info-box-icon img {
    float: left;
    height: 100%;
    background-color: white;
}

div.filecard .info-box-icon {
    background-color: white;
}

div.filecard .info-box-text,
div.filecard .progress-description,
div.filecard .info-box-number {
    font-size: inherit;
}

.uploads_container {
    margin-bottom: 10px;
}

/* readonly spans in view partials inside forms/ */
div.form-group span.readonly {
    height: auto;
    background-color: #fbfbfb;
}

.navbar-nav > .user-menu > .dropdown-menu {
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Make the background of the right side full white*/
.skin-blue .wrapper {
    background-color: #ffffff;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    border: 0px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    color: inherit;
}

/* Select2 style customization */
.select2-container .select2-choice {
    -moz-user-select: none;
    background-clip: padding-box;
    background-color: #ffffff;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    background-image: none;
    border: 0;
    height: auto;
    height: 33px;
    padding: 6px 0 6px 0px
}

.select2-container {
    padding: 0
}

.select2-offscreen, .select2-offscreen:focus {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    left: 0 !important;
    margin: 0 !important;
    outline: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 1px !important
}

.select2-drop, .select2-drop.select2-drop-above {
    border-radius: 0;
    border: 1px solid #cccccc
}

.select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid #cccccc
}

.select2-search input {
    margin: 5px 0
}

.select2-container.select2-drop-above .select2-choice {
    border: 0;
    border-radius: 0;
    background: 0 0
}

.select2-container .select2-choice .select2-arrow {
    border-radius: 0;
    border: 0;
}

.select2-container, .select2-container-multi {
    height: auto
}

.select2-container-multi .select2-choices .select2-search-choice {
    line-height: 13px;
    border-radius: 0;
}

.select2-container-multi .select2-choices {
    border: 1px solid #e3e3e3;
}

.select2-container .select2-choice {
    line-height: auto;
    border-radius: 0;
    padding-left: 12px;
}

#tab_advanced .select2-container-multi .select2-choices .select2-search-choice {
    width: 100%;
}

.logo{
    background-color: #fff !important;
}

